<div class="container__menu-bar">
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/lucas-lobo-917aba209/" target="_blank">Linkedin</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="https://github.com/H4x04Moddz" target="_blank">GitHub</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="https://www.youtube.com/@wantedeveloper" target="_blank">YouTube</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="/content/1" target="_blank">About Us</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="https://github.com/H4x0rModdz/AngularBlog" target="_blank">Repository</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="https://github.com/KR0N-SECURITY" target="_blank">Our ORG</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="#" (click)="openRandomLink()">Click Me</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
        <a href="https://web.dio.me/track/coding-future-banco-pan-desenvolvimento-frontend-com-angular/" target="_blank">DIO</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="/content/2" target="_blank">About Pentest</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="/content/3" target="_blank">About Virus</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
      <a href="/content/4" target="_blank">About SQLi</a>
    </li>
    <li>
      <span>‣</span>
    </li>
    <li>
        <a href="https://community.gameupafrica.com/uploads/default/original/1X/53e7e3be2bf596b4533b932a5037ecdfd2473f4e.jpeg" target="_blank">Funny Link</a>
    </li>
  </ul>
</div>
